<template name="header">
  <nav class="navbar navbar-default">
    <div class="row justify-content-md-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Looper</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/home">Home</a></li>
              <li><a href="/upload">Upload</a></li>
            </ul>
          </div>
          <div class="col">
            Playbar Here
          </div>
          <div class="col">
            login stuff here
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>